table, th, td {
  border-collapse: collapse;
}
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  background-color: #cfe2ff;
  margin-bottom: 80px;
}

.row{
  border: solid 1px black;
  padding: 4px;
}

.row-header{
  background-color: #dbe4e7;
}

